@media(max-width:1220px){
    #left img{
        height: 25px;
        width:10%;
    }
    #left h4{
        font-size: 1.2vw;
    }
    #right i{
        font-size: 1.7vw;
    }
}
@media(max-width: 950px){
    #left img{
        width: 5%;
        height: 15px;
    }
    #left h4{
        margin-left: 30px;
    }
    #right i{
        margin-right: 25px;
    }
    #left1 h4{
        font-size: 1vw;
    }
    #left1 h1{
        margin-bottom: 15px;
    }
    #left1 p{
        width:100%;
        font-size: 1.1vw;
        line-height: 15px;
        margin-bottom: 25px;
    }
    #left1 button{
        width:150px;
        height:20px;
        font-size: 1.1vw; 
    }
}
@media(max-width:500px){
    #left img{
        width: 25px;
        height: 10px;
        margin-left: 50px;
    }
    #left h4{
        display: none;
    }
    #content{
        width: 100%;
        height: calc(100% - 110px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}